.main.container {
    padding: 4.5em 0 1em 0;
}

#modal_confirmation .actions {
    text-align: center !important;
}

.transparent input {
    padding-left: 14px !important;
}

#modal_contact .label {
    width: 10em;
    text-align: right;
}

#modal_contact input[disabled] {
    opacity: unset !important;
    padding-top: 9.5px !important;
    padding-bottom: 9.5px !important;
}

.calendar.active {
    z-index: 9999 !important;
}

#file_upload_input {
    display: none;
}

#global_errors_container {
    position: fixed;
    left: 2em;
    bottom: 1em;
}

.asterisk {
    color: red;
    font-weight: bold;
}
